<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>concentration-game-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD2B88791ECFEF4F00838FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2B888D1ECFEF5000838FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2B88981ECFEF5000838FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
